*.errors
*.hi
*.hs.*
xmonad-*
*.o
*.swp
*.swo
cabal-dev/
.hsenv_*/
dist/*
.hsenv
.cabal-sandbox
cabal.sandbox.config
docsets/
TAGS
node_modules/
bower_components/
dist0/
.dir-locals.el
.stack-work/
per_machine_config.sh
