set editing-mode vi
set keymap vi
set convert-meta on

# ^l clear screen
bind -m vi-insert "\C-l":clear-screen

set show-all-if-ambiguous on

set editing-mode vi

set keymap vi-command
"\022":history-incremental-search-backward

set keymap vi-insert
"\022":history-incremental-search-backward
